<div class="user-details">
  <h1>About Me</h1>
  <p> {{site.user_description}} </p>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/photo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <br>
    <table class="table">
      <tr>
        <th> ■ Name : </th>
        <td colspan="2"> 김철규 </td>
      </tr>
      <tr>
        <th> ■ Birth : </th>
        <td colspan="2"> 1995.12.13 </td>
      </tr>
      <tr>
        <th> ■ Phone : </th>
        <td colspan="2"> 010-5109-7428 </td>
      </tr>
      <tr>
        <th> ■ Mail : </th>
        <td colspan="2"> csjh1@naver.com </td>
      </tr>
    </table>
    <br><br><br>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="user-details">
  <h1>Skill</h1>
  <p> {{site.user_description}} </p>
</div>
    
<div class="user">
    <div class="tech">
      <h2>Front-End</h2>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <br>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-jquery-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Back-End</h2>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <img alt="eclipse" src="/assets/img/mybatis.jpg" />
      <br>
      <img alt="spring" src="/assets/img/spring.png" />
    </div>
    <div class="tech">
      <h2>Language</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-c-line colored"></i>
      <i class="devicon-cplusplus-line colored"></i>
      <br>
      <i class="devicon-python-plain-wordmark colored"></i>
    </div>
  </div>
<br>
<div class="user">
   <div class="tech">
      <h2>DataBase</h2>
      <img alt="eclipse" src="/assets/img/mariaDB.png" />
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-oracle-original colored"></i>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img alt="eclipse" src="/assets/img/eclipse.png" />
      <img alt="eclipse" src="/assets/img/heidi.jpg" />
      <i class="devicon-github-original-wordmark colored"></i>
  </div>
  <div class="tech">
      <h2></h2>
      <svg viewBox="0 0 64 64"></svg>
      <svg viewBox="0 0 64 64"></svg>
      <svg viewBox="0 0 64 64"></svg>
      <svg viewBox="0 0 64 64"></svg>
    </div>
</div>

