<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
    <div class="tech">
      <h2>Front-End</h2>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <br>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-jquery-plain-wordmark colored"></i>
        <i class="devicon-react-original-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Back-End</h2>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-tomcat-line-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Language</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-c-line colored"></i>
      <i class="devicon-cplusplus-line colored"></i>
      <br>
      <i class="devicon-python-plain-wordmark colored"></i>
    </div>
  </div>
<div class="user">
   <div class="tech">
      <h2>DataBase</h2>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-oracle-original colored"></i>
      <svg viewBox="0 0 128 128"></svg>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-visualstudio-plain-wordmark colored"></i>
      <svg viewBox="0 0 128 128"></svg>
      <svg viewBox="0 0 128 128"></svg>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <svg viewBox="0 0 128 128"></svg>
      <svg viewBox="0 0 128 128"></svg>
      <svg viewBox="0 0 128 128"></svg>
    </div>
  </div>

