<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="table">
  <table>
      <tr>
        <th>Name</th>
        <td>김철규</th>
        <td rowspan="4">
         <!-- <img alt="mountains" src="{{ "/assets/img/myPhoto.jpg" | prepend: site.baseurl }}" /> -->
        </td>
    </tr>
    <tr>
        <th>Birth</th>
        <td>1995.12.13</th>
    </tr>
    <tr>
        <th>Phone</th>
        <td>010-5109-7428</th>
    </tr>
    <tr>
        <th>Email</th>
        <td>csjh1@naver.com</th>
    </tr>
  </table>
</div>
<div class="user">
    <div class="tech">
      <h2>Front-End</h2>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <br>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-jquery-plain-wordmark colored"></i>
        <i class="devicon-react-original-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Back-End</h2>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-tomcat-line-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Language</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-c-line colored"></i>
      <i class="devicon-cplusplus-line colored"></i>
      <br>
      <i class="devicon-python-plain-wordmark colored"></i>
    </div>
  </div>
<div class="user">
   <div class="tech">
      <h2>DataBase</h2>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-oracle-original colored"></i>
      <svg viewBox="0 0 64 64"></svg>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-visualstudio-plain colored"></i>
      <svg viewBox="0 0 64 64"></svg>
      <svg viewBox="0 0 64 64"></svg>
    </div>
    <div class="tech">
      <h2></h2>
      <svg viewBox="0 0 64 64"></svg>
      <svg viewBox="0 0 64 64"></svg>
      <svg viewBox="0 0 64 64"></svg>
      <svg viewBox="0 0 64 64"></svg>
    </div>
  </div>

