<div class="user-details">
  <h1> 포트폴리오 </h1>
</div>
<br><hr><br>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/lms.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> LMS 프로젝트 </h3>
    <h3> (Final Team Project) </h3>
    <br>
    <ul>
      <li> 프로젝트 기간 : 2개월(2020.12.02 ~ 2021.01.21) </li>
      <li> 디자인 패턴 : Spring MVC</li>
      <li> 사용 프로그램 : SpringToolSuite4, HeidiSQL </li>
      <li> 언어 : JAVA, HTML, JAVASCRIPT, SQL</li>
      <li> DB : MariaDB
    </ul>
    <p>7인 팀 프로젝트로 기획, 설계, 구현, 테스트 포함 2개월의 기간을 거쳐 구축한 Spring Boot를 이용한 LMS 시스템입니다.</p>
    <div>
      Project : 
      <a class="project-link" href="http://my-moduda.p-e.kr/lms/" target="_blank">AWS</a>
      <a class="project-link" href="https://github.com/goodee-project/LMS-Z" target="_blank">GitHub</a>
      <a class="project-link" href="/assets/file/project_ppt.pdf" download>PPT</a>
    </div>
    <div>
      ERD : 
      <a class="project-link" href="/assets/erd/picture/lms.png" target="_blank">Picture</a>
      <a class="project-link" href="/assets/erd/lms.mwb">SQL WorkBench</a>
    </div>
  </div>
</div>
<br><hr><br>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/cash.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> cash 프로젝트 </h3>
    <br>
    <ul>
      <li> 프로젝트 기간 : 2주일(20.11.06 ~ 20.11.18) </li>
      <li> 디자인 패턴 : Spring MVC</li>
      <li> 사용 프로그램 : SpringToolSuite4, HeidiSQL </li>
      <li> 언어 : JAVA, HTML, JAVASCRIPT, SQL </li>
      <li> DB : MariaDB
    </ul>
    Spring Boot, Mybatis, RestController, AJax등을 활용한 가계부 프로그램으로 자바 웹 프레임워크 수업 후 2주일간 진행한 미니프로젝트입니다. </p>
    <div>
      Project : 
      <a class="project-link" href="http://my-moduda.p-e.kr/cash/" target="_blank">AWS</a>
      <a class="project-link" href="https://github.com/moduda1213/cashbook_maven" target="_blank">GitHub</a>
    </div>
    <div>
      ERD : 
      <a class="project-link" href="/assets/erd/picture/cash.png" target="_blank">Picture</a>
      <a class="project-link" href="/assets/erd/cash.mwb">SQL WorkBench</a>
    </div>
  </div>
</div>
<br><hr><br>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/sakila.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> sakila 프로젝트 </h3>
    <br>
    <ul>
      <li> 프로젝트 기간 : 2주일(20.10.12 ~ 20.10.28) </li>
      <li> 디자인 패턴 : Model 2 </li>
      <li> 사용 프로그램 : Eclipse, HeidiSQL </li>
      <li> 언어 : JAVA, HTML, SQL </li>
      <li> DB : MariaDB
    </ul>
    <p>Model 2 기법으로 만든 비디오 대여점 관리 프로젝트로 Mysql 샘플 SAKILA 데이터베이스를 분석 수업 후 2주일간 진행한 미니프로젝트입니다. </p>
    <div>
      Project : 
      <span class="project-link">AWS</span>
      <span class="project-link">GitHub</span>
    </div>
    <div>
      ERD : 
      <a class="project-link" href="/assets/erd/picture/sakila.png" target="_blank">Picture</a>
      <a class="project-link" href="/assets/erd/sakila.mwb">SQL WorkBench</a>
    </div>
    <!--<a class="project-link" href="http://my-moduda.p-e.kr/sakila/" target="_blank">AWS</a>-->
    <!--<a class="project-link" href="https://github.com/moduda1213/sakila" target="_blank">GitHub</a>-->
  </div>
</div>
<br><hr><br>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mall.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Mall 프로젝트 </h3>
    <br>
    <ul>
      <li> 프로젝트 기간 : 2주일(20.09.16 ~ 20.09.30) </li>
      <li> 디자인 패턴 : Model 1 </li>
      <li> 사용 프로그램 : Eclipse, HeidiSQL </li>
      <li> 언어 : JAVA, HTML, SQL </li>
      <li> DB : MariaDB
    </ul>
    <p> Model 1 기법으로 만든 쇼핑몰 프로젝트로 Servlet, Filter, Listener, Session, RDBMS 수업 후 2주일간 진행한 미니프로젝트입니다. </p>
    <div>
      Mall-Admin : 
      <a class="project-link" href="http://my-moduda.p-e.kr/mall-admin/" target="_blank">Admin AWS</a>
      
      <a class="project-link" href="https://github.com/moduda1213/mall-admin_WebProgram" target="_blank">Admin GitHub</a>
    </div>
    <div>
      Mall-User : 
      <a class="project-link" href="http://my-moduda.p-e.kr/mall/" target="_blank">User AWS</a>
      <a class="project-link" href="https://github.com/moduda1213/mall_WebProgram" target="_blank">User GitHub</a>
    </div>
    <div>
      ERD : 
      <a class="project-link" href="/assets/erd/picture/mall.png" target="_blank">Picture</a>
      <a class="project-link" href="/assets/erd/mall.mwb">SQL WorkBench</a>
    </div>
  </div>
</div>
<br><hr><br>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/employees.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Employees 프로젝트 </h3>
    <br>
    <ul>
      <li> 프로젝트 기간 : 1주일(20.09.11 ~ 20.09.14) </li>
      <li> 디자인 패턴 : Model 1 </li>
      <li> 사용 프로그램 : Eclipse, HeidiSQL </li>
      <li> 언어 : JAVA, HTML, SQL </li>
      <li> DB : MariaDB
    </ul>
    <p> Mysql 샘플 EMPLOYEES 데이터베이스를 이용한 JSP만으로 구현한 <br>직원 관리 프로젝트로 학원에서 JSP수업 후 일주일간 제작한 <br>첫 프로그램입니다.</p>
    <div>
      Project : 
      <a class="project-link" href="http://my-moduda.p-e.kr/employees/departmentsList.jsp" target="_blank">AWS</a>
      <a class="project-link" href="https://github.com/moduda1213/Employees" target="_blank">GitHub</a>
    </div>
    <div>
      ERD : 
      <a class="project-link" href="/assets/erd/picture/employees.png" target="_blank">Picture</a>
      <a class="project-link" href="/assets/erd/employees.mwb">SQL WorkBench</a>
    </div>
  </div>
</div>
