<div class="user-details">
  <h1> 포트폴리오 </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Employees 프로젝트 </h3>
    <ul>
      <li> Model 1 </li>
    </ul>
    <p> Mysql 샘플 EMPLOYEES 데이터베이스를 이용한 JSP만으로 구현한 직원 관리 프로젝트로 학원에서 JSP수업 후 일주일간 제작한 첫 프로그램입니다.JSP로만 웹을 만들면서 중복된 코드도 많았지만, JSP만으로 프로젝트를 만들 수 있다는 걸 깨달았습니다.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Mall 프로젝트 </h3>
    <ul>
      <li> Model 1 </li>
    </ul>
    <p> Model 1 기법으로 만든 쇼핑몰 프로젝트로 Servlet, Filter, Listener, Session, RDBMS 수업 후 일주일간 진행한 미니프로젝트입니다. Model 1 기법으로 만들면서 코드를 분할 작업할 수 있었고, DB와 JSP 페이지를 개별로 작업하며 유지보수가 조금 용이해지는 것을 체감했습니다. 관리자와 유저가 독립적인 사이트를 이용할 수 있도록 두 개의 프로젝트로 나눴습니다.</p>
    <a class="project-link" href="#">Mall-User</a>
    <a class="project-link" href="#">Mall-Admin</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> sakila 프로젝트 </h3>
    <ul>
      <li> Model 2 </li>
    </ul>
    <p>Model 2 기법으로 만든 비디오 대여점 관리 프로젝트로 Mysql 샘플 SAKILA 데이터베이스를 분석 수업 후 일주일간 진행한 미니프로젝트입니다. Model 2 기법으로 만들면서 확실히 담당하는 카테고리별로 Controller, Model, View가 나뉘면서 중복되는 코드가 많이 사라지고, 유지보수가 많이 용이해지는 것을 체감했습니다. 또한 sakila DB가 MySQL 샘플 DB이면서도 함수, 프로시저, 트리거, 뷰와 같은 여러 기능을 담고 있어서 DB의 기능들에 대해 자세히 알아보는 계기가 되었습니다. </p>
    <a class="project-link" href="http://my-moduda.p-e.kr/sakila/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> cash 프로젝트 </h3>
    <ul>
      <li> Spring boot </li>
    </ul>
    Spring Boot, Mybatis, RestController, AJax등을 활용한 가계부 프로그램으로 자바 웹 프레임워크 수업 후 2주일간 진행한 미니프로젝트입니다. Spring Boot 프로젝트로 제작하며 Model 2(MVC)에서 반복되는 작업들이 프레임워크가 해주는 게 굉장하다고 생각했습니다. Reflection API가 많은 일을 해 준다는 것을 배우기도 했습니다.</p>
    <a class="project-link" href="http://my-moduda.p-e.kr/cash/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/lms.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> LMS 프로젝트(Final Team Project) </h3>
    <ul>
      <li> Spring boot </li>
    </ul>
    <p>7인 팀 프로젝트로 기획, 설계, 구현, 테스트 포함 2개월의 기간을 거쳐 구축한 Spring Boot를 이용한 LMS 시스템입니다. 요구사항 정의 및 설계단에서는 다들 설계가 익숙지 않았고, 프로젝트의 규모가 평소에 했던 프로젝트보다 크기때문에 여러 디테일한 부분도 놓치는 경우도 있었습니다. 서로 많은 대화가 필요했지만 사회적 거리 두기는 제작과정 중 가장 큰 걸림돌이 되었지만 Discord, Google Docs 및 GitHub 등 협업 도구를 적극적으로 활용하여 함께 난관을 헤쳐나가 완성한 프로젝트인 만큼 좋은 경험이 되었습니다.   </p>
    <a class="project-link" href="http://legend-by.kro.kr/lms/" target="_blank">Check it out</a>
  </div>
</div>
